# dependencies
/node_modules

# build output
/dist
*.tsbuildinfo

# next.js dev playground
.next/
/out/

# env / secrets
.env
.env*.local

# OS
.DS_Store

# IDE
.idea/*
!/.idea/runConfigurations
.vscode/*
